.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: $white-color;
  border: 1px solid $background-color;
  border-radius: 3px;
  color: $text-color;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 100%;

  &:hover {
    background-color: $background-dark-color;
  }

  &__primary {
    background-color: $accents-color;
    color: $white-color;
    border: 1px solid $accents-color;

    &:hover {
      background-color: $accents-dark-color;
    }
  }
}