$primary-color: #ffe600;
$secondary-color: #2d3277;
$background-dark-color: #b0b0b0;
$background-color: #ebebeb;
$white-color: #fff;
$accents-color: #3483fa;
$accents-dark-color: #2968c8;
$text-color: rgba(0,0,0,0.9);